body {
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }
  
  .singleButton {
    margin: 0px;
    padding: 0px;
  }